[Desktop Entry]
Name=VNC Viewer
Name[pl]=Przeglądarka VNC
Comment=VNC client application
Comment[pl]=Aplikacja kliencka (wyświetlająca obraz) VNC
Exec=vncviewer
Icon=vnc.png
Terminal=false
Type=Application
Categories=Network
Encoding=UTF-8
# vi: encoding=utf-8
